<div id="accountadmin-list" style="display:none">
    <div class="col-md-12">
        <div class="panel panel-filled">
            <div class="panel-heading">
                Accounts
            </div>
            <div class="panel-body">
                <div class="table-responsive">

                    <table id="admin-account-table" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Company</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Alt Phone</th>
                                <th>Company Status</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody data-bind="dataTablesForEach: {
                                data: Accounts,
                                dataTableOptions: {
                                    @*dom: '<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp,*@
                                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
                                    buttons: [
                                        { extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                                        { extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                                        { extend: 'print', className: 'btn-sm' } ] } }">
                            <tr>
                                <td data-bind="html: FullName" />
                                <td data-bind="html: CompanyName" />
                                <td data-bind="html: Email" />
                                <td data-bind="html: PhoneNumber.PhoneMask()" />
                                <td data-bind="html: AltPhoneNumber.PhoneMask()" />
                                <td>
                                    <button class="btn btn-accent" data-bind="visible: IsCompanyAdmin()">Admin</button>
                                    <button class="btn btn-default" data-bind="visible: !IsCompanyAdmin()">User</button>
                                </td>
                                <td>
                                    <button class="btn btn-success" data-bind="click: $parent.ChangeAccountStatus, visible: IsActive()">Active</button>
                                    <button class="btn btn-warning" data-bind="click: $parent.ChangeAccountStatus, visible: !IsActive()">Not Active</button>
                                </td>
                                <td>
                                    <button class="btn btn-default" data-bind="click: $parent.EditAccount">EDIT</button>
                                    <button class="btn btn-danger" data-bind="click: $parent.DeleteAccount, visible: !IsActive()">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>