<div data-bind="with: CurrentVM">
    <div class="row">
        <div class="col-lg-12">
            <div class="view-header">
                <div class="header-icon">
                    <i class="pe page-header-icon pe-7s-server"></i>
                </div>
                <div class="header-title">
                    <h3>Shopify to Database</h3>
                    <small>
                        Sync data between Shopify and Flavor Fi
                    </small>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-vertical-align-middle">
                            <thead>
                                <tr>
                                    <th>Entity Name</th>
                                    <th> Progress </th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!-- Custom Collections Sync -->
                                <tr data-bind="with: DatabaseCustomCollectionsSyncViewModel">
                                    <td>
                                        <a class="text-accent">Custom Collections</a>
                                        <div class="small"><i class="fa fa-clock-o"></i> Last Synced <span data-bind="text: EntityStatus().LastSynced"></span></div>
                                    </td>
                                    <td>
                                        <div class="progress m-b-none full progress-small" data-bind="visible: EntityStatus().IsSyncing()">
                                            <div class="progress-bar progress-bar-primary" data-bind="style: { width: EntityStatus().SyncPercentage() + '%'}"></div>
                                        </div>
                                        <small data-bind="text: EntityStatus().SyncStatus"></small>
                                    </td>
                                    <td>
                                        <div class="pull-right">
                                            <button class="btn btn-accent btn-sm" data-bind="visible: !EntityStatus().IsSyncing(), click: SynchronizeDatabaseEntity">Start Sync</button>
                                            <button class="btn btn-warning btn-sm" data-bind="visible: EntityStatus().IsSyncing()">Cancel Sync</button>
                                            <button class="btn btn-success btn-sm">View History</button>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Customer Sync -->
                                <tr data-bind="with: DatabaseCustomerSyncViewModel">
                                    <td>
                                        <a class="text-accent">Customers</a>
                                        <div class="small"><i class="fa fa-clock-o"></i> Last Synced <span data-bind="text: EntityStatus().LastSynced"></span></div>
                                    </td>
                                    <td>
                                        <div class="progress m-b-none full progress-small" data-bind="visible: EntityStatus().IsSyncing()">
                                            <div class="progress-bar progress-bar-primary" data-bind="style: { width: EntityStatus().SyncPercentage() + '%'}"></div>
                                        </div>
                                        <small data-bind="text: EntityStatus().SyncStatus"></small>
                                    </td>
                                    <td>
                                        <div class="pull-right">
                                            <button class="btn btn-accent btn-sm" data-bind="visible: !EntityStatus().IsSyncing(), click: SynchronizeDatabaseEntity">Start Sync</button>
                                            <button class="btn btn-warning btn-sm" data-bind="visible: EntityStatus().IsSyncing()">Cancel Sync</button>
                                            <button class="btn btn-success btn-sm">View History</button>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Order Sync -->
                                <tr data-bind="with: DatabaseOrderSyncViewModel">
                                    <td>
                                        <a class="text-accent">Orders</a>
                                        <div class="small"><i class="fa fa-clock-o"></i> Last Synced <span data-bind="text: EntityStatus().LastSynced"></span></div>
                                    </td>
                                    <td>
                                        <div class="progress m-b-none full progress-small" data-bind="visible: EntityStatus().IsSyncing()">
                                            <div class="progress-bar progress-bar-primary" data-bind="style: { width: EntityStatus().SyncPercentage() + '%'}"></div>
                                        </div>
                                        <small data-bind="text: EntityStatus().SyncStatus"></small>
                                    </td>
                                    <td>
                                        <div class="pull-right">
                                            <button class="btn btn-accent btn-sm" data-bind="visible: !EntityStatus().IsSyncing(), click: SynchronizeDatabaseEntity">Start Sync</button>
                                            <button class="btn btn-warning btn-sm" data-bind="visible: EntityStatus().IsSyncing()">Cancel Sync</button>
                                            <button class="btn btn-success btn-sm">View History</button>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Product Sync -->
                                <tr data-bind="with: DatabaseProductSyncViewModel">
                                    <td>
                                        <a class="text-accent">Products</a>
                                        <div class="small"><i class="fa fa-clock-o"></i> Last Synced <span data-bind="text: EntityStatus().LastSynced"></span></div>
                                    </td>
                                    <td>
                                        <div class="progress m-b-none full progress-small" data-bind="visible: EntityStatus().IsSyncing()">
                                            <div class="progress-bar progress-bar-primary" data-bind="style: { width: EntityStatus().SyncPercentage() + '%'}"></div>
                                        </div>
                                        <small data-bind="text: EntityStatus().SyncStatus"></small>
                                    </td>
                                    <td>
                                        <div class="pull-right">
                                            <button class="btn btn-accent btn-sm" data-bind="visible: !EntityStatus().IsSyncing(), click: SynchronizeDatabaseEntity">Start Sync</button>
                                            <button class="btn btn-warning btn-sm" data-bind="visible: EntityStatus().IsSyncing()">Cancel Sync</button>
                                            <button class="btn btn-success btn-sm">View History</button>
                                        </div>
                                    </td>
                                </tr>

                                <!-- User Sync -->
                                <tr data-bind="with: DatabaseUserSyncViewModel">
                                    <td>
                                        <a class="text-accent">Users</a>
                                        <div class="small"><i class="fa fa-clock-o"></i> Last Synced <span data-bind="text: EntityStatus().LastSynced"></span></div>
                                    </td>
                                    <td>
                                        <div class="progress m-b-none full progress-small" data-bind="visible: EntityStatus().IsSyncing()">
                                            <div class="progress-bar progress-bar-primary" data-bind="style: { width: EntityStatus().SyncPercentage() + '%'}"></div>
                                        </div>
                                        <small data-bind="text: EntityStatus().SyncStatus"></small>
                                    </td>
                                    <td>
                                        <div class="pull-right">
                                            <button class="btn btn-accent btn-sm" data-bind="visible: !EntityStatus().IsSyncing(), click: SynchronizeDatabaseEntity">Start Sync</button>
                                            <button class="btn btn-warning btn-sm" data-bind="visible: EntityStatus().IsSyncing()">Cancel Sync</button>
                                            <button class="btn btn-success btn-sm">View History</button>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        MainVM.CurrentVM(new DatabaseSyncViewModel());
        MainVM.CurrentVM().Load();
    </script>
}