<div id="security-forgot-password" style="display: none">
    <div class="container-center animated slideInDown">

        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-id"></i>
            </div>
            <div class="header-title">
                <h3>Reset password</h3>
                <small>
                    Please enter your email to rest your password.
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                <form novalidate data-bind="visible: !IsResetPassword()">
                    <div class="form-group">
                        <label class="control-label" for="email">Email adress</label>
                        <input type="text" placeholder="example@gmail.com" title="Please enter you username" required="" name="email" id="email" class="form-control" data-bind="value: Email">
                        <span class="help-block small">Your account email address to reset</span>
                    </div>
                    <div>
                        <button class="btn btn-accent" data-bind="click: ForgotPassword">Reset my password</button>
                        <button class="btn btn-default">Cancel</button>
                    </div>
                    <h4 class="text-danger text-center m-t-lg" data-bind="text: ErrorMessage"></h4>
                </form>

                <form novalidate data-bind="visible: IsResetPassword()">
                    <h4 class="text-success text-center m-t-lg">An email has been sent to you to reset your password!</h4>
                </form>
            </div>
        </div>

    </div>
</div>